{% extends 'base.html.twig' %}

{% block body %}
    {% form_theme formImageSpecies 'bootstrap_4_layout.html.twig' %}

    {% if not is_granted('ROLE_ADMINISTRATOR') %}
    <h3>Access not authorized</h3>
    {% else %}

     {% if singleSpecies.speciesImages is not empty %}

         <div class="row" style="padding-top: 10px;">
            <div class="col-10" >
         <h3>Images for <i> {{ singleSpecies.speciesNameWorms }}</i></h3></div>
         <div class="col-2"><a href="{{ path('admin_species') }}" class="btn btn-primary" >Back to species admin</a></div>

        </div>

          <div class="row">

         {% for image in singleSpecies.speciesImages %}
             <div class="col-6">
        <div style="max-height: 300px; max-width: 300px">
        <img src="{{ asset('uploads/images_species/' ~ image.speciesImageName) }}"
                    style="max-height:100%; max-width: 100%;" alt="">
        </div>

             </div>
             <div class="col-6">

             <table >
                 <tr>
                     <td colspan="2" ><h5>Image status (#{{ image.id }})</h5></td>
                 </tr>

            {% if image.isForDisplay %}
            <tr>
                <td>Image set for display:</td>
                <td><a href="{{ path('editForDisplay_image_species', {'idImageSpecies':image.id, 'display':'no'}) }}" class="btn btn-primary" >Unset from display</a></td>
            </tr>
            {% else %}
             <tr>
                <td>Image NOT set for display:</td>
             <td><a href="{{ path('editForDisplay_image_species', {'idImageSpecies':image.id, 'display':'yes'}) }}" class="btn btn-primary" >Set to display</a></td>
             </tr>
                 {% endif %}

             {% if image.isForDisplay %}
             {% if image.isMain %}
                 <tr>
                     <td>Image is set for main</td>
                     <td><a href="{{ path('editmain_image_species', {'idImageSpecies':image.id, 'main':'no'}) }}" class="btn btn-primary" >Unset from main</a></td>
                 </tr>
             {% else %}
                 <tr>
                     <td>Image NOT set for main:</td>
                     <td><a href="{{ path('editmain_image_species', {'idImageSpecies':image.id, 'main':'yes'}) }}" class="btn btn-primary" >Set to main</a></td>
                 </tr>
             {% endif %}
             {% endif %}

             <tr>
                 <td>Image in database:</td>
                 <td><a href="{{ path('remove_image_species', {'idImageSpecies':image.id}) }}" class="btn btn-primary" >Remove</a></td>
             </tr>
             </table>
             </div>


        {#<a href="{{ path('editForDisplay_image_species', {'idImageSpecies':image.id}) }}" class="btn btn-secondary" >Display</a>#}
             {#<a href="#" class="btn btn-secondary" >Display</a>#}

             <hr>

         {% endfor %}
          </div>

        <div>
         <h4>Upload new image  </h4>


         {{ form_start(formImageSpecies) }}
         {{ form_row(formImageSpecies.speciesImageName) }}

         {{ form_row(formImageSpecies.isForDisplay) }}
         {{ form_row(formImageSpecies.isMain) }}

         <button type="submit" class="btn btn-success">Submit</button>
         {{ form_end(formImageSpecies) }}

        </div>

        {% else %}



    <h3>Upload image for {{ singleSpecies.speciesNameWorms }}</h3>
            <a href="{{ path('admin_species') }}" class="btn btn-primary" >Back to species admin</a>



    {{ form_start(formImageSpecies) }}
    {{ form_row(formImageSpecies.speciesImageName) }}
     {{ form_row(formImageSpecies.isForDisplay) }}
    {{ form_row(formImageSpecies.isMain) }}

    <button type="submit" class="btn btn-success">Submit</button>
    {{ form_end(formImageSpecies) }}

         {#end mode block#}
         {% endif %}

    {% endif %} {#end of condition administrator#}

{% endblock %}