{% extends 'base.html.twig' %}
{% block head_scripts %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
            integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
            crossorigin=""></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>

{% endblock %}

{% block body %}
<h1>Create a new occurrence for <i>{{ singleSpecies.speciesNameWorms }}</i></h1>



    {% form_theme formCreateOccurrence 'bootstrap_4_layout.html.twig' %}

    {{ form_start(formCreateOccurrence) }}

    {{ form_row(formCreateOccurrence.eventDate) }}

    <div class="row">
        <div class="col-md-10">
            <div id="map_for_occurrence" style="height: 400px; width: 800px;"></div>
        </div>
        <div class="col-md-2" >
            <div style="border-style: solid">
            <p>To help you finding the exact coordinates of the record, please use the zoom options and drag the symbol and copy the coordinates below</p>
             <span>Latitude:</span>
                <span id="getLatitude">0</span>
                <br>
            <span>Longitude: </span><span id="getLongitude">0</span>
            </div>
        </div>

    </div>



    {{ form_row(formCreateOccurrence.decimalLatitude,
        {'label':"Latitude (in decimals)", 'attr':{'placeholder': "Required (e.g. 12.24345), from -90 to 90"}}) }}
    {{ form_row(formCreateOccurrence.decimalLongitude,
        {'label':"Longitude (in decimals)", 'attr':{'placeholder': "Required (e.g. 12.24345), from -180 to 180"}}) }}
    {{ form_row(formCreateOccurrence.locality,
        {'attr':{'placeholder': "Name of the location (optional)"}}) }}
    {{ form_row(formCreateOccurrence.vernacularName,
        {'attr':{'placeholder': "Given name at collection(optional)"}}) }}
    {{ form_row(formCreateOccurrence.scientificNameAtCollection,
        {'label':"Original scientific name given during the collection", 'attr':{'placeholder': "(optional)"}}) }}
    {{ form_row(formCreateOccurrence.locationId,
        {'label':"Marine region identifier ( or any location ID)",'attr':{'placeholder': "(optional)"}}) }}
    {{ form_row(formCreateOccurrence.occurrenceRemarks,
        {'label':"Remarks (e.g., stranded specimen,...",'attr':{'placeholder': "(optional)"}}) }}
    {{ form_row(formCreateOccurrence.associatedMediaUrl,
        {'label':"URL for any media to the particular observation", 'attr':{'placeholder':"(optional)"}}) }}

    <button type="submit" class="btn btn-success">Submit</button>

    {{ form_end(formCreateOccurrence) }}

    <script>
        var optionsMap ={
            center: [50,0],
            zoom: 5
        }
        var mapForOccurrence = L.map('map_for_occurrence', optionsMap);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 20,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoiZm1pbmV1ciIsImEiOiJjamwzdGk3ZzYwaGY4M3dtcTFvcmpzNWt0In0.eDKRO3APxmefQb1H-gaT2A'
        }).addTo(mapForOccurrence);

        var myMarker = L.marker([50, 0], {draggable: true}).addTo(mapForOccurrence)
            .on('dragend', function() {
                var coord = String(myMarker.getLatLng())                  //getLatLng produces a string e.g. 'LatLng(50.124, -0,32443)'
                    .split(/[(),]+/);                                           //var coord is now a vector (split is either '(', ')', or ','
            console.log(coord);
            var lat = coord[1].trim();
            console.log(lat);
            var lng = coord[2].trim();
            console.log(lng);
            function getSingleCoordinate(latOrLng){
                return latOrLng;
            }
            myMarker.bindPopup("LAT " + lat + " \nLNG " + lng );
            document.getElementById('getLatitude').innerHTML = getSingleCoordinate(lat);
            document.getElementById('getLongitude').innerHTML = getSingleCoordinate(lng);

            });

    </script>



{% endblock %}