{% extends 'base.html.twig' %}

{% block head_scripts %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
            integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
            crossorigin=""></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">


{% endblock %}


{% block body %}
    <h1>Occurrences for <i>{{ singleSpecies.speciesNameWorms }}</i></h1>
    {#<a href="{{ path('occurrence_create', {'id':singleSpecies.wormsAphiaId } )}}" class="btn btn-primary">Create a new occurrence</a>#}
    <a href="{{ path('occurrence_create', {'idSpecies':singleSpecies.id } )}}" class="btn btn-primary">Create a new occurrence</a>
                {#POSITION OF THE MAP#}
                <div id="map_for_occurrences" style="height:400px; width:700px"></div>
                  {#Position of the chart#}
                  {#<div id="histogram" class="col" style="height:300px; width:400px;"></div>#}
                  {#<p>Geographical and temporal distribution of records</p>#}






    {#<div class="table-responsive">#}
    <table class="table-hover table-bordered display" id="mydatatable">
    <thead>
    <tr>
        <th>Id (#)</th>
        <th>Date  </th>
        <th>Locality  </th>
        <th>Latitude&nbsp;&nbsp;</th>
        <th>Longitude  </th>
        {#<th>Species (WoRMS)</th>#}
        <th>Creation time </th>
        <th>Author</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>


    {% for occurrence in occurrences %}
        {% if  occurrence.isValidated %}
        {% if occurrence.species == singleSpecies %}
    <tr>
        <td><a href="#" id="id{{ occurrence.id }}" class="btn btn-primary">{{ occurrence.id }}</a></td>
        <td>{{occurrence.eventDate | date ('d/m/Y') }}</td>
        <td>{{ occurrence.locality }}</td>
        <td>{{ occurrence.decimalLatitude | number_format(4)  }}&nbsp;</td>
        <td>{{ occurrence.decimalLongitude | number_format(4) }}</td>
        {#<td>{{ occurrence.species.speciesNameWorms }}</td>#}
        <td>{{ occurrence.occurrenceCreatedAt | date ('Y/m/d H:i') }}</td>
        <td>{{ occurrence.inputter.firstName | striptags |first }}. {{ occurrence.inputter.lastName }}</td>
            {% if  (app.user  ==  occurrence.inputter) or (is_granted ('ROLE_VALIDATOR')) %}
        <td><a href="{{ path('occurrence_edit', {'idOccurrence':occurrence.id } )}}" class="btn btn-primary">Edit</a></td>
            {% else %}
                <td></td>
                {% endif %}
        <td><a href="{{ path('occurrence_details', {'idOccurrence':occurrence.id} )}}" class="btn btn-primary">More</a></td>
        <td><a href="{{ path('occurrence_edit_gps', {'idOccurrence':occurrence.id} )}}" class="btn btn-primary">GPS</a></td>

    </tr>
        {% endif %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>
    {#</div>#}

{% endblock %}

{% block scripts_bottom %}

    {#<script>#}
        {#var year = [#}
            {#{% for occurrence in occurrences %}#}
            {#{% if occurrence.isValidated %}#}
            {#{% if occurrence.species == singleSpecies %}#}
            {#{% if loop.index0 != 0 %},{% endif %}#}
            {#{{ occurrence.eventDate | date ('Y')}}#}
            {#{% endif %}#}
            {#{% endif %}#}
            {#{% endfor %}#}

        {#];#}

        {#var trace = {#}
            {#x: year,#}
            {#type: 'histogram'#}
        {#};#}
        {#var data = [trace];#}
        {#var layout = {#}
            {#title: "Occurrences of  {{ singleSpecies.speciesNameWorms }}",#}
            {#xaxis:{title: "Year"},#}
            {#yaxis:{title: "Number of occurrences"}#}
        {#};#}
        {#Plotly.newPlot('histogram', data, layout);#}

    {#</script>#}

    <script>

            var intervalLayer0 = L.layerGroup();
            var intervalLayer1 = L.layerGroup();
            var intervalLayer2 = L.layerGroup();
            var intervalLayer3 = L.layerGroup();
            var intervalLayer4 = L.layerGroup();
            var intervalLayer5 = L.layerGroup();
            var intervalLayer6 = L.layerGroup();
            var intervalLayer7 = L.layerGroup();

            var LeafIcon = L.Icon.extend({
                options: {
                    iconSize:     [10, 10],
                    iconAnchor:   [9, 9],
                    popupAnchor:  [9, 2]
                }
            });
            //See http://colorbrewer2.org/#type=diverging&scheme=RdYlGn&n=8
            var icon0 = new LeafIcon({iconUrl: '{{ asset('images/cb0.png') }}'}),
                icon1 = new LeafIcon({iconUrl: '{{ asset('images/cb1.png') }}'}),
                icon2 = new LeafIcon({iconUrl: '{{ asset('images/cb2.png') }}'}),
                icon3 = new LeafIcon({iconUrl: '{{ asset('images/cb3.png') }}'}),
                icon4 = new LeafIcon({iconUrl: '{{ asset('images/cb4.png') }}'}),
                icon5 = new LeafIcon({iconUrl: '{{ asset('images/cb5.png') }}'}),
                icon6 = new LeafIcon({iconUrl: '{{ asset('images/cb6.png') }}'}),
                icon7 = new LeafIcon({iconUrl: '{{ asset('images/cb7.png') }}'});

            var markers = [];
            {% for intervalWithFreqAndOccurrences in intervalsWithFreqAndOccurrences %}
            {% set nameForIcon = 'icon' ~ loop.index0 %}
            {% set nameForLayerGroup = 'intervalLayer' ~ loop.index0 %}
            {% for occurrence in intervalWithFreqAndOccurrences.2 %}
            {% if occurrence.isValidated %}
            {% if occurrence.species == singleSpecies %}
            var marker = L.marker([{{ occurrence.decimalLatitude }}, {{ occurrence.decimalLongitude }}], {title: "id{{ occurrence.id }}", icon:{{ nameForIcon}} })
                .bindPopup("<p>{{ occurrence.locality }}</br>{{ occurrence.eventDate | date ('Y')}}</br># {{ occurrence.id }}</p>")
                .addTo({{ nameForLayerGroup }});
            markers.push (marker);
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endfor %}

            var mapUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}';
            var mapAttributes = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';

            var satellite = L.tileLayer(mapUrl, {id: 'mapbox.satellite',
                accessToken: 'pk.eyJ1IjoiZm1pbmV1ciIsImEiOiJjamwzdGk3ZzYwaGY4M3dtcTFvcmpzNWt0In0.eDKRO3APxmefQb1H-gaT2A',
                attribution:mapAttributes
            });
            var streets = L.tileLayer(mapUrl, {id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoiZm1pbmV1ciIsImEiOiJjamwzdGk3ZzYwaGY4M3dtcTFvcmpzNWt0In0.eDKRO3APxmefQb1H-gaT2A',
                attribution:mapAttributes
            });



            var optionsMap = {
                zoom:3,
                center: [50,0]
            };
            var mapForOccurrences = L.map('map_for_occurrences',{
                zoom:3,
                center: [50,0],
                layers: [satellite, streets,intervalLayer0, intervalLayer1, intervalLayer2, intervalLayer3, intervalLayer4,
                    intervalLayer5, intervalLayer6, intervalLayer7]
            });


            var baseLayers = {
                "Satellite": satellite,
                "Map": streets,
            };

            var overlays = {
            {% for intervalWithFreqAndOccurrences in intervalsWithFreqAndOccurrences %}
            {% set nameLayer = 'intervalLayer' ~ loop.index0 %}
            {% set indexOfLoop = '' ~ loop.index0 %}
                "<img style='vertical-align:middle; height: 10px' src='{{ asset("images/cb#{indexOfLoop}.png") }}'><div style='vertical-align:middle; display:inline;'>&nbsp; {{ intervalWithFreqAndOccurrences.0 }}</div>": {{ nameLayer }},
            {% endfor %}
            };

            L.control.layers(baseLayers, overlays).addTo(mapForOccurrences);




            function markerFunction(id){
                for (var i in markers){
                    var markerID = markers[i].options.title;


                    if (markerID == id){
                        var position = markers[i].getLatLng();
                        // console.log(position);
                        // var newPosition = new
                        // console.log
                        // mapForOccurrences.SetView(position, 5);

                        markers[i].openPopup();
                        // mapForOccurrences.panTo(position, 18);
                        mapForOccurrences.flyTo(position, 7);
                    };
                }
            }

            $("a").click(function(){
                markerFunction($(this)[0].id);
            });





    </script>
    {#https://datatables.net/manual/options#}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#mydatatable').DataTable ({
                scrollY: 400,
                buttons: [
                    {
                        extend: 'csv',
                        text: 'Copy all data',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    }
                ]
            } );



        });
    </script>



{% endblock %}











