{% extends 'base.html.twig' %}

{% block head_scripts %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
            integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
            crossorigin=""></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet' />

{% endblock %}

{% block body %}
    <h1>Occurrence {{ occurrence.id }} for <i>{{ occurrence.species.speciesNameWorms }} </i></h1>

    <p>Record created by {{ occurrence.inputter.firstName }} {{ occurrence.inputter.lastName }} on {{ occurrence.occurrenceCreatedAt | date ('d/m/Y') }}</p>
    <p>Last modified by {{ occurrence.lastModifier.firstName }} {{ occurrence.lastModifier.lastName }} on {{ occurrence.lastModifiedAt | date ('d/m/Y') }}</p>



    <h5>Date: {{ occurrence.eventDate | date('d/m/Y') }}</h5>

    <div id="map_for_occurrence" style="height: 300px; width: 500px ; "></div>


    <h5><p id="toDMS"></p>
    <p>Decimal latitude: {{ occurrence.decimalLatitude }} ; decimal longitude: {{ occurrence.decimalLongitude }}</p>
    </h5>
    <h5>Locality: {% if occurrence.locality %} {{ occurrence.locality }} {% else %}No information {% endif %}</h5>
    <h5>Remarks or reference: "{% if occurrence.occurrenceRemarks %} {{ occurrence.occurrenceRemarks }} {% else %}No information {% endif %}"</h5>

    <a href="{{ path('occurrences_list',{'idOccurrence':occurrence.id,'idSpecies': occurrence.species.id}) }}" class="btn btn-primary">Full list</a>
    <a href="{{ path('occurrence_edit', {'idOccurrence':occurrence.id} )}}" class="btn btn-primary">Edit</a>
    <a href="{{ path('occurrence_edit_gps', {'idOccurrence': occurrence.id}) }}" class="btn btn-primary">Quick GeoEdit</a>


    <script>

        var intervalLayer0 = L.layerGroup();
        var intervalLayer1 = L.layerGroup();
        var intervalLayer2 = L.layerGroup();
        var intervalLayer3 = L.layerGroup();
        var intervalLayer4 = L.layerGroup();
        var intervalLayer5 = L.layerGroup();
        var intervalLayer6 = L.layerGroup();
        var intervalLayer7 = L.layerGroup();

        var LeafIcon = L.Icon.extend({
            options: {
                iconSize:     [10, 10],
                iconAnchor:   [5, 8],
                popupAnchor:  [0, -5]
            }
        });
        //See http://colorbrewer2.org/#type=diverging&scheme=RdYlGn&n=8
        var icon0 = new LeafIcon({iconUrl: '{{ asset('images/cb0.png') }}'}),
            icon1 = new LeafIcon({iconUrl: '{{ asset('images/cb1.png') }}'}),
            icon2 = new LeafIcon({iconUrl: '{{ asset('images/cb2.png') }}'}),
            icon3 = new LeafIcon({iconUrl: '{{ asset('images/cb3.png') }}'}),
            icon4 = new LeafIcon({iconUrl: '{{ asset('images/cb4.png') }}'}),
            icon5 = new LeafIcon({iconUrl: '{{ asset('images/cb5.png') }}'}),
            icon6 = new LeafIcon({iconUrl: '{{ asset('images/cb6.png') }}'}),
            icon7 = new LeafIcon({iconUrl: '{{ asset('images/cb7.png') }}'});

        var markers = [];
        {% for intervalWithFreqAndOccurrences in intervalsWithFreqAndOccurrences %}
        {% set nameForIcon = 'icon' ~ loop.index0 %}
        {% set nameForLayerGroup = 'intervalLayer' ~ loop.index0 %}
        {% for occurrence in intervalWithFreqAndOccurrences.2 %}
        {% if occurrence.isValidated %}
        {% if occurrence.species == singleSpecies %}
        var marker = L.marker([{{ occurrence.decimalLatitude }}, {{ occurrence.decimalLongitude }}], {title: "id{{ occurrence.id }}", icon:{{ nameForIcon}} })
            .bindPopup("<p>{{ occurrence.locality }}</br>{{ occurrence.eventDate | date ('Y')}}</br># {{ occurrence.id }}</p>")
            .addTo({{ nameForLayerGroup }});
        markers.push (marker);
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endfor %}

        var mapUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}';
        var mapAttributes = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';

        var satellite = L.tileLayer(mapUrl, {id: 'mapbox.satellite',
            accessToken: 'pk.eyJ1IjoiZm1pbmV1ciIsImEiOiJjamwzdGk3ZzYwaGY4M3dtcTFvcmpzNWt0In0.eDKRO3APxmefQb1H-gaT2A',
            attribution:mapAttributes
        });
        var streets = L.tileLayer(mapUrl, {id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoiZm1pbmV1ciIsImEiOiJjamwzdGk3ZzYwaGY4M3dtcTFvcmpzNWt0In0.eDKRO3APxmefQb1H-gaT2A',
            attribution:mapAttributes
        });

        var mapForOccurrence = L.map('map_for_occurrence',{
            zoom:12,
            center: [50,0],
            layers: [satellite, streets, intervalLayer0, intervalLayer1, intervalLayer2, intervalLayer3, intervalLayer4,
                intervalLayer5, intervalLayer6, intervalLayer7]
        });
        var baseLayers = {
            "Satellite": satellite,
            "Map": streets,

        };

        var overlays = {
            {% for intervalWithFreqAndOccurrences in intervalsWithFreqAndOccurrences %}
            {% set nameLayer = 'intervalLayer' ~ loop.index0 %}
            {% set indexOfLoop = '' ~ loop.index0 %}
            "<img style='vertical-align:middle; height: 10px' src='{{ asset("images/cb#{indexOfLoop}.png") }}'><div style='vertical-align:middle; display:inline;'>&nbsp; {{ intervalWithFreqAndOccurrences.0 }}</div>": {{ nameLayer }},
            {% endfor %}
        };

        L.control.layers(baseLayers, overlays).addTo(mapForOccurrence);


        var lat = {{ occurrence.decimalLatitude}}, lng = {{ occurrence.decimalLongitude }};
        mapForOccurrence.setView(new L.LatLng(lat, lng), 15);
        var marker = L.marker([lat, lng]).addTo(mapForOccurrence);

    </script>
    <script>
        //https://stackoverflow.com/questions/37893131/how-to-convert-lat-long-from-decimal-degrees-to-dms-format
        //https://stackoverflow.com/questions/5786025/decimal-degrees-to-degrees-minutes-and-seconds-in-javascript
        //https://en.wikipedia.org/wiki/Geographic_coordinate_conversion#Conversion_from_Decimal_Degree_to_DMS


        function degreeToDMS(decimalDegrees){
            var absDecDegrees = Math.abs(decimalDegrees);
            var deg = Math.floor(absDecDegrees);
            var decMinutes = (absDecDegrees - deg)*60;
            var min = Math.floor(decMinutes);
            var decSeconds = (decMinutes-min)*60;
            var sec = (Math.round(decSeconds * 100))/100;
            if(sec==60){min++; sec=0;}
            if (min==60){deg++; min=0; }

            return deg +"º "+min+"' "+sec +"'' ";
        }

        function convertDMS(lat, lng) {
            var latitude = degreeToDMS(lat);
            var latitudeCardinal = Math.sign(lat) >= 0 ? "N" : "S";

            var longitude = degreeToDMS(lng);
            var longitudeCardinal = Math.sign(lng) >= 0 ? "E" : "W";

            return latitude + " " + latitudeCardinal + "\n" + longitude + " " + longitudeCardinal;
        }

        document.getElementById('toDMS').innerHTML = convertDMS({{ occurrence.decimalLatitude }}, {{ occurrence.decimalLongitude }});





    </script>



{% endblock %}