{% extends 'base.html.twig' %}
{% block body %}

    <p>Please choose one of the following phyla</p>

    {% if phylumToDisplay %}
        <a href="{{ path('index_species') }}" class="btn btn-primary">All species</a>
        {% for phylum in phyla %}
            {% if phylumToDisplay.id == phylum.id %}
                <a href="{{ path('index_species_per_phylum', {'idPhylum': phylum.id}) }}" class="btn btn-secondary ">{{ phylum.phylumNameWorms }}</a>
            {% else %}
                <a href="{{ path('index_species_per_phylum', {'idPhylum': phylum.id}) }}" class="btn btn-primary ">{{ phylum.phylumNameWorms }}</a>
            {% endif %}
        {% endfor %}
    {% else %}
        <a href="{{ path('index_species') }}" class="btn btn-secondary">All species</a>
        {% for phylum in phyla %}
            <a href="{{ path('index_species_per_phylum', {'idPhylum': phylum.id}) }}" class="btn btn-primary ">{{ phylum.phylumNameWorms }}</a>
        {% endfor %}
    {% endif %}


    {% if not phylumToDisplay %}
        <h2>All species</h2>
    {% for singleSpecies in species %}
        <div class="row">
            <div class="col-4">
            {% if singleSpecies.speciesImages is not empty   %}
                {% set numberOfImagesForMain  = 0 %}

                {% for image in singleSpecies.speciesImages if image.isMain %}
                    {#{% if image.isForDisplay and image.isMain %}#}
                <div  style="max-height: 200px; max-width: 200px">
                <img src="{{ asset('uploads/images_species/' ~ image.speciesImageName) }}"
                     style="max-height:100%; max-width: 100%;" alt="">
                </div>
                    {% set numberOfImagesForMain  = numberOfImagesForMain +1 %}
                {% endfor %}
                    {% if numberOfImagesForMain == 0 %}
                        <div  style="max-height: 200px; max-width: 200px">
                            <img src="{{ asset('images/placeholders/SeaweedPlaceholder.JPG') }}"
                                 style="max-height:100%; max-width: 100%" alt="">
                        </div>
                     {% endif %}


                {% else %}
                    <div  style="max-height: 200px; max-width: 200px">
                        <img src="{{ asset('images/placeholders/SeaweedPlaceholder.JPG') }}"
                             style="max-height:100%; max-width: 100%" alt="">
                    </div>
                {% endif %}
            </div>
            <div class="col-4">
                    <h4><i>{{ singleSpecies.speciesNameWorms }}</i></h4>
                </div>
                <div class="col-4">
                    <a href="{{ path('species_details', {'idSpecies' : singleSpecies.id}) }}" class="btn btn-primary">Details</a>
                    <a href="{{ path('occurrences_list', {'idSpecies': singleSpecies.id}) }}" class="btn btn-primary">Occurrences</a>
             </div>
        </div>
        <hr>
    {% endfor %}
        {% else %}
            <h2>Species belonging to the phylum {{ phylumToDisplay.phylumNameWorms }}</h2>
        {% for singleSpecies in phylumToDisplay.species %}
            <div class="row">
                <div class="col-4">
                    {% if singleSpecies.speciesImages is not empty %}
                        {% for image in singleSpecies.speciesImages if image.isForDisplay %}
                            <div  style="max-height: 200px; max-width: 200px">
                                <img src="{{ asset('uploads/images_species/' ~ image.speciesImageName) }}"
                                     style="max-height:100%; max-width: 100%" alt="">
                            </div>
                        {% endfor %}
                    {% else %}
                        <div  style="max-height: 200px; max-width: 200px">
                            <img src="{{ asset('images/placeholders/SeaweedPlaceholder.JPG') }}"
                                 style="max-height:100%; max-width: 100%" alt="">
                        </div>
                    {% endif %}
                </div>
                <div class="col-4">
                    <h4><i>{{ singleSpecies.speciesNameWorms }}</i></h4>
                </div>
                <div class="col-4">
                    <a href="{{ path('species_details', {'idSpecies' : singleSpecies.id}) }}" class="btn btn-primary">Details</a>
                    <a href="{{ path('occurrences_list', {'idSpecies': singleSpecies.id}) }}" class="btn btn-primary">Occurrences</a>
                </div>
            </div>
            <hr>

        {% endfor %}
    {% endif %}



{% endblock %}